.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  font-size: 28px;
  font-weight: 700;
}

.header__logo-part--second {
  color: var(--secondary-color);
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 12px
}

.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border: 1px solid var(--secondary-color-light);
  border-radius: var(--border-radius);
}

.main__subtitle {
  font-weight: 300;
}

.main__tasks-count {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: var(--secondary-color-dark);
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
  background: var(--secondary-color);
  border-radius: 50%;
}

.main__body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.main__field {
  flex: 1;
}

.main__input {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color-gray);
  padding: 10px 15px;
  text-align: center;
  color: var(--primary-color);
}

.main__input:focus {
  outline-color: var(--primary-color);
}

.main__tasks-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.main__task {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 16px;
  border: 1px solid var(--secondary-color-light);
  border-radius: var(--border-radius);
}

.main__task-complete {
  width: 44px;
  height: 44px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%
}

.main__task-complete--done {
  background-color: var(--primary-color-active);
  border: none;
}

.main__task-text {
  font-size: 18px;
}

.main__task-text--done {
  text-decoration: line-through;
}

.footer__logo {
  filter: invert(1) brightness(0.5) contrast(0.5);
}


@media (max-width: 600px) {
  .main__task {
    gap: 10px;
    padding: 12px;
  }

  .main__task-text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .main__header {
    flex-direction: column;
    gap: 0;
  }

  .main__body {
    flex-direction: column;
  }
}

@media (hover: hover) and (pointer: fine) {
  .main__task-complete:hover {
    background: var(--primary-color);
  }
}