@import '@a1rth/css-normalize';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --primary-color: #cbbda1;
  --primary-color-hover: #3f51b5;
  --primary-color-active: #58cc4c;
  --primary-color-active-hover: #3f51b5;
  --secondary-color-dark: #0d0d0d;
  --secondary-color-gray: #1e1e1e;
  --secondary-color-light: #cbbda1;
  --secondary-color: #ff5730;
  --primary-font: 'Comfortaa', sans-serif;

  --border-radius: 10px;
}

body {
  background-color: var(--secondary-color-dark);
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  color: var(--primary-color);
}

input {
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color-gray);
  padding: 10px 15px;
  text-align: center;
  color: var(--primary-color);
}

input:focus {
    outline-color: var(--primary-color);
}



